.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 5vw;

  &__object-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    justify-content: center;
  }

  &__speed--1 {
    transform: translateZ(-1px) scale(2);
    transform-origin: 50% 50%;
  }

  &__speed--2 {
    transform: translateZ(-2px) scale(3);
    transform-origin: 50% 50%;
  }

  &__speed--3 {
    transform: translateZ(-3px) scale(4);
    transform-origin: 50% 50%;

    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      left: -22vw;
      top: 160%;
      width: 500px;
      height: 500px;
      animation: polygons-odd 10s alternate infinite;
      clip-path: polygon(0% 0%, 97% 4%, 100% 34%, 0% 38%);

      @media screen and (max-width: 60rem) {
        display: none;
      }
    }
  }

  &__speed--4 {
    transform: translateZ(-4px) scale(5);
    transform-origin: 50% 50%;
  }

  &__speed--5 {
    transform: translateZ(-5px) scale(6);
    transform-origin: 50% 50%;
  }
  &__speed--6 {
    transform: translateZ(-6px) scale(7);
    transform-origin: 50% 50%;
  }
  &__speed--7 {
    transform: translateZ(-7px) scale(8);
    transform-origin: 50% 50%;
  }

  &__object {
    height: 100vh;
    width: 100%;
  }

  &__object--1 {
    margin-top: 500px;
    height: 500%;
    position: relative;
    padding-top: 2rem;

    @media screen and (max-width: 60rem) {
      margin-top: 250px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      top: 30vh;
      width: 200px;
      height: 200px;
      animation: polygons 10s alternate infinite;
      clip-path: polygon(13% 2%, 100% 0%, 125% 39%, 0% 34%);

      @media screen and (max-width: 60rem) {
        display: none;
      }
    }
  }

  &__object--2 {
    margin-top: 1350px;
    background: linear-gradient(to left, #ee9ca7, #ffdde1);
    height: 500%;
    padding: 2em 1em;
    clip-path: polygon(13% 2%, 100% 0%, 125% 39%, 0% 34%);

    @media screen and (max-width: 60rem) {
      height: 570%;
    }
  }

  &__object--3 {
    margin-top: 2400px;
    background: linear-gradient(
      to left,
      #0f2027,
      #203a43,
      #2c5364
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 500%;
    padding: 2em 1em;
    clip-path: polygon(0% 0%, 97% 4%, 100% 34%, 0% 38%);

    @media screen and (max-width: 60rem) {
      height: 870%;
    }
  }

  &__object--4 {
    margin-top: 3300px;
    background: linear-gradient(
      to left,
      #f12711,
      #f5af19
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 500%;
    padding: 2em 1em;
    clip-path: polygon(0% 4%, 100% 0%, 100% 45%, 0% 100%);

    @media screen and (max-width: 60rem) {
      margin-top: 3800px;
      padding: 2em 0;
      height: 670%;
      clip-path: polygon(0% 4%, 100% 0%, 97% 100%, 0% 98%);
    }
  }

  &__object--5 {
    margin-top: 6250px;
    height: 100%;
    background: linear-gradient(
      to left,
      #4e54c8,
      #8f94fb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2em 1em;
    clip-path: polygon(11% 0%, 85.4% 0%, 100% 70%, 0% 100%);

    @media screen and (max-width: 60rem) {
      margin-top: 7100px;
      height: 150%;
      padding: 2em 0;
      clip-path: polygon(0% 0%, 100% 11%, 100% 70%, 0% 100%);
    }
  }

  &__object--6 {
    margin-top: 4750px;
    background: linear-gradient(
      to left,
      #36d1dc,
      #5b86e5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 500%;
    padding: 2em 1em;
    clip-path: polygon(0% 0%, 97% 2%, 91% 63%, 4% 100%);

    @media screen and (max-width: 60rem) {
      margin-top: 6900px;
      padding: 2em 0;
      height: 230%;
      clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  &__object--7 {
    margin-top: 5650px;
    height: 100%;
    padding: 2em 1em;
    background-color: #fff;

    @media screen and (max-width: 60rem) {
      margin-top: 7600px;
      padding: 2em 0;
      height: 155%;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      right: -22vw;
      transform: translateY(150%);
      width: 500px;
      height: 500px;
      animation: polygons-odd 10s alternate infinite;
      clip-path: polygon(0% 0%, 97% 4%, 100% 34%, 0% 38%);

      @media screen and (max-width: 60rem) {
        transform: translateY(250%);
      }
    }
  }
}
