.talkingdogs {
  &__heading {
    font-size: 8vw;
    text-align: center;
    font-family: "Brotherhood", cursive;
    padding-top: 6rem;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__ideas {
    &:nth-child(1n + 2) {
      padding: 2em 0;
      width: 40vw;
    }
    &:nth-child(1n + 3) {
      padding: 2em 0;
      width: 60vw;
    }
    &:nth-child(1n + 4),
    :nth-child(1n + 5) {
      padding: 2em 0;
      width: 50vw;
    }
  }

  &__title {
    padding: 0 3em;
  }
  &__content {
    padding: 0 3em;
  }
}
