.menu {
  &__label {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    z-index: 2;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 10%, 100% 80%, 0% 100%);
    transition: 0.3s ease-in-out;

    @media screen and (max-width: 60rem) {
      top: 0vh;
      right: 15vw;
      left: auto;
      bottom: auto;
    }

    &:hover {
      transform: scale(1.05);
      clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    }

    &:before {
      content: "Weather";
      margin: 0;
      transition: 1s ease-in-out;
    }
  }
  &__btn {
    visibility: hidden;
    &:checked {
      ~ .menu {
        &__items {
          max-width: 100vw;
          overflow: inherit;
          position: fixed;
          top: 50%;
          margin: 0 auto;
          left: 50%;
          opacity: 0;
          color: white;
          text-align: center;
          animation: 0.7s 0.3s fadeInUp forwards;
          z-index: 2;
        }

        &__weather {
          display: block;
          z-index: 100;
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          animation: 0.7s 0.3s fadeInUp forwards;
          opacity: 0;

          @media screen and (max-width: 60rem) {
            width: 90vw;
            padding: 0 2em;
            top: 40%;
            box-sizing: border-box;
          }
        }

        &__label {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          border-radius: 0;
          color: white;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: salmon;

          &:not(:hover) {
            transform: scale(1.03);
          }

          &:hover {
            transform: none;
          }

          &:before {
            content: "Close";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            background-color: #f75e51;
            width: 150px;
            height: 150px;
            border-radius: 0 50% 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  &__weather {
    display: none;
  }
}
