@import "./_parallax/parallax.css";
@import "./_introduction/introduction.css";
@import "./_solution/solution.css";
@import "./_fun/fun.css";
@import "./_talking-dogs/talking-dogs.css";
@import "./_thoughts/thoughts.css";
@import "./_related/related.css";
@import "./_footnotes/footnotes.css";
@import "./figure/figure.css";
@import "./title/title.css";

:root {
  --titleFont: "Poppins";
}
.article {
  opacity: 0;
  animation: 1s fadeInUpContent ease-in-out forwards;
  width: 100vw;
  margin: 0 auto;
  padding: 0 5vw;
  box-sizing: border-box;

  .title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-20%, -50%);

    > * {
      font-family: var(--titleFont);
      line-height: 0.8;
      font-size: 10vw;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
    }
    &__content {
      color: #f00;
      left: -0.5px;
      text-transform: uppercase;

      &:before {
        content: data(text);
        position: absolute;
        top: 0;
        left: 2px;
      }
    }

    &:before {
      content: "NONSENSE";
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Brotherhood", cursive;
      font-size: 17vw;
      padding: 1em;
      color: #0000000d;
      font-weight: 700;
      display: block;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
      background-image: -webkit-linear-gradient(crimson 50%, white 50%);
      background-repeat: repeat;
      background-position: 0 0;
      background-size: 100% 5px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-animation: stripes 2s linear infinite;
      background-clip: text;
      animation: stripes 2s linear infinite;
    }
  }

  &__content {
    padding: 0 3em;
  }
}
