@import "../../animations.css";

.introduction {
  &__content {
    padding: 2em 3em;
    width: 50%;
    margin: 0 auto;
    background-color: white;

    @media screen and (max-width: 60rem) {
      padding: 2em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  &__image {
    width: 50%;
    text-align: center;
    padding: 2em 3em;
    margin: 0 auto;
    background-color: white;

    @media screen and (max-width: 60rem) {
      width: 100%;
      box-sizing: border-box;
    }

    &:first-of-type {
      clip-path: polygon(25% -50%, 100% 100%, 0% 100%, 0 0%);
    }
    &:last-of-type {
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0 30%);
    }

    :active {
      background-color: black;
      position: absolute;
      width: 90vw;
      height: 90vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    :hover {
      &:first-of-type {
        clip-path: polygon(25% -50%, 100% 100%, 0% 100%, 0 0%);
      }
      &:last-of-type {
        clip-path: polygon(50% -50%, 100% 100%, 0% 50%, 0 0%);
      }
    }
  }

  &__subtitle {
    padding: 0 2em;
    text-align: center;
    background-color: white;
  }
}

.night {
  .introduction {
    &__content,
    &__image {
      color: #3a3a3a;
    }
  }
}
