@import "./fonts.css";
@import "./animations.css";
@import "./menu.css";

:root {
  --baseFont: "Open Sans";
  --titleFont: "Poppins";
  --color-grey: #f3f6fb;
  --color-blue: #4cc4fb;
  --color-dark-blue: #03a9f4;
  --color-wind: #ccefff;
  --color-wind-dark: #7fd8f7;
}

html {
  font-size: 125%;
  font-family: var(--baseFont);
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 0.5fr) [main-start] minmax(1rem, 3fr) [main-end] minmax(
      10rem,
      1fr
    )
    [full-end];
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  background-color: white;
  scroll-behavior: smooth;

  &.night {
    background-color: #3a3a3a;
    color: white;
  }
}

.header {
  grid-area: full-start;
}

.article {
  padding: 0 2em;
  grid-area: main-start;
  opacity: 0;
  animation: 1s fadeInUpContent ease-in-out forwards;

  &__title {
    font-family: var(--titleFont);
    line-height: 0.7;
    font-size: 20vh;
    width: 50%;
    position: relative;

    &:before {
      content: "NONSENSE";
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Brotherhood", cursive;
      font-size: 15rem;
      color: #0000000d;
      font-weight: 700;
      display: block;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: revealLeft 1s 0.3s forwards;
    }
  }
}

.news {
  background-color: var(--color-grey);
  font-size: 80%;
  grid-area: main-end;

  &__weather {
    background-color: var(--color-blue);
    padding-bottom: 0.7em;

    & > * {
      padding: 0.75em 1.25em;
    }

    &.wind {
      background-color: var(--color-wind);

      header {
        background-color: var(--color-wind-dark);
      }
    }

    &.rain {
      background-color: var(--color-blue);

      header {
        background-color: var(--color-dark-blue);
      }
    }

    header {
      background-color: var(--color-dark-blue);
      color: white;
    }
  }

  &__articles {
    padding: 1em;
  }
}
