.story {
  width: 250px;

  &__content {
    text-align: center;
    color: black;
    padding: 1em;
    font-size: 90%;

    @media screen and (max-width: 60rem) {
      padding: 1em 2em;
      font-size: 100%;
      text-align: left;
    }
  }

  &__link {
    text-align: center;
    font-family: "Brotherhood", cursive;
    font-size: 1em;
    text-decoration: none;
    margin: 0 auto;

    @media screen and (max-width: 60rem) {
      text-align: left;
      font-size: 10vw;
    }
  }
}
