@keyframes grow-left {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInUpContent {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealLeft {
  from {
    max-width: 0;
    overflow: hidden;
  }
  to {
    max-width: 45vw;
  }
}

@keyframes stripes {
  50% {
    background-position: 0 -50px;
    background-size: 100% 20px;
  }

  100% {
    background-position: 0 0;
    background-size: 100% 10px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes polygons-image {
  25% {
    clip-path: polygon(100% 0, 50% 100%, 50% 100%, 0 0%);
  }
  55% {
    clip-path: polygon(50% 46%, 100% 75%, 55% 74%, 0 100%);
  }
  75% {
    clip-path: polygon(100% 38%, 100% 38%, 36% 100%, 0 53%);
  }
}

@keyframes polygons-odd {
  25% {
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: turquoise;
  }
  50% {
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: salmon;
  }
  75% {
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: papayawhip;
  }
}

@keyframes polygons {
  25% {
    clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    background: cornflowerblue;
  }
  50% {
    clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    background: orange;
  }
  75% {
    clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    background: pink;
  }
}
@keyframes polygons-before {
  25% {
    clip-path: polygon(0% 0%, 71% 0%, 71% 37%, 0% 4%);
    background: rgb(42, 111, 240);
  }
  50% {
    clip-path: polygon(0% 0%, 71% 0%, 50% 30%, 0% 8%);
    background: rgb(56, 228, 168);
  }
  75% {
    clip-path: polygon(0% 0%, 71% 0%, 41% 50%, 0% 4%);
    background: rgb(242, 87, 113);
  }
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(1350px);}
}


@keyframes polygons-after {
  25% {
    clip-path: polygon(0% 0%, 10% 0%, 70% 17%, 0% 44%);
    background: cornflowerblue;
  }
  50% {
    clip-path: polygon(0% 0%, 31% 0%, 30% 67%, 0% 4%);
    background: orange;
  }
  75% {
    clip-path: polygon(0% 0%, 71% 0%, 70% 17%, 0% 44%);
    background: pink;
  }
}

@keyframes filters {
  25% {
    filter: hue-rotate(60deg);
  }
  50% {
    filter: hue-rotate(270deg);
  }
  75% {
    filter: hue-rotate(100deg);
  }
}

@keyframes filters-night {
  25% {
    filter: hue-rotate(60deg) blur(1px);
  }
  50% {
    filter: hue-rotate(270deg) blur(3px);
  }
  75% {
    filter: hue-rotate(100deg) blur(1px);
  }
}
