@import "./fonts.css";
@import "./animations.css";
@import "./header/header.css";
@import "./article/articles.css";
@import "./news/news.css";

:root {
  --baseFont: "Open Sans";
  --titleFont: "Poppins";
  --color-night: #212121;
}

html {
  font-size: 125%;
  font-family: var(--baseFont);
  line-height: 1.5;
  box-sizing: border-box;

  @media screen and (max-width: 60rem) {
    font-size: 100%;
    line-height: 1.2;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.night {
    background-color: var(--color-night);
    color: white;
  }
}

.page-content {
  height: 52000px;

  @media screen and (max-width: 60rem) {
    height: 71000px;
  }
}
